.chat_message{ data: {message: {id: message.id}}}
 .messaege_user
  = message.user.name
 .message_date
  = message.created_at
 .message_content
  = message.body
 .messages_image
  = image_tag message.image_url(:thumb) if message.image_url(:thumb)
