%header
 .contents
  .contents__sidebar
   .contents__sidebar__header
    %h2
     sample(ユーザー名)
   .contents__sidebar__contents
    %h3
     sample(グループ名)
    %p
     sample(メッセージ)
    %h3
     sample(グループ名)
    %p
     sample(メッセージ)
    %h3
     sample(グループ名)
    %p
     sample(メッセージ)
  .contents__chat
   .contents__chat__header
    %h2
     sample(グループ名)
    %p
     sample(メンバー)
   .contents__chat__contents
    %h3
     sample(グループ名)
    %p
     sample(日付)
    %p
     sample(メッセージ)

