%header
 .contents
  .contents__sidebar
   .contents__sidebar__header
    %h2
     sample(ユーザー名)
     =link_to "" do
      %i.fa.fa-cog
     =link_to "" do
      %i.fa.fa-pencil-square-o
   .contents__sidebar__contents
    %h3
     sample(グループ名)
    %p
     sample(メッセージ)
    %h3
     sample(グループ名)
    %p
     sample(メッセージ)
    %h3
     sample(グループ名)
    %p
     sample(メッセージ)
  .contents__chat
   .contents__chat__header
    %h2
     sample(グループ名)
    %p
    sample(メンバー)
   .contents__chat__contents
    .contents__chat__contents__messages
     %h3
      sample(グループ名)
     %h4
      sample(日付)
     %p
      sample(メッセージ)
    .contents__chat__contents__messages
     %h3
      sample(グループ名)
     %h4
      sample(日付)
     %p
      sample(メッセージ)
    .contents__chat__contents__messages
     %h3
      sample(グループ名)
     %h4
      sample(日付)
     %p
      sample(メッセージ)
