%header
 .contents
  .contents__sidebar
   .contents__sidebar__header
    %h2
     = @user.name
     =link_to "" do
      %i.fa.fa-cog
     =link_to new_group_path do
      %i.fa.fa-pencil-square-o
   .contents__sidebar__contents
    - @groups.each do |group|
     %h3
      = group.name
     %p
  .contents__chat
   .contents__chat__header
    .edit-group-button
     =link_to "Edit", ""
    %h2
     sample(グループ名)
    %p
     sample(メンバー)
   .contents__chat__content
    .contents__chat__content__messages
     %h3
      sample(ユーザー名)
     %h4
      sample(日付)
     %p
      sample(メッセージ)
    .contents__chat__content__messages
     %h3
      sample(ユーザー名)
     %h4
      sample(日付)
     %p
      sample(メッセージ)
    %form
     %textarea{placeholder: "try a messsage"}
     %label{for: "up_image"}
      %i.fa.fa-file-image-o
      %input{type: "file", id: "up_image"}
     %input{type: "submit", value: "Send"}
